/* Neural Network Background */
#neural-network{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}

/* Noise Layer */
body::before{
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("../img/ui/noise.png");
    opacity: .035;
    pointer-events: none;
    z-index: -2;
}

/* Glow Layer */
body::after{
    content: "";
    position: fixed;
    top: -350px;
    left: 50%;
    width: 900px;
    height: 900px;
    transform: translateX(-50%);
    background:
        radial-gradient(
            circle,
            rgba(0, 255, 136, .08),
            transparent 70%
        );
    filter: blur(120px);
    pointer-events: none;
    z-index: -1;
}

/* Main */
main{
    width: 100%;
}