/* Box model */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Forms */
input,
textarea,
select{
    font: inherit;
    outline: none;
}

/* Lists Styles */
ul,
ol{
    list-style: none;
}

/* Tables */
table{
    border-collapse: collapse;
}
