/* Box Model */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Forms */
input,
textarea,
select,
button{
    font: inherit;
}

/* Lists */
ul,
ol{
    list-style: none;
}

/* Tables */
table{
    border-collapse: collapse;
    border-spacing: 0;
}